In [2]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import datetime, timedelta
from sqlalchemy import create_engine
from sqlalchemy.types import Float
from sqlalchemy.types import Date
from sqlalchemy.types import DateTime
from sqlalchemy.types import VARCHAR
from sqlalchemy.types import Integer

In [3]:
# Connect to Postgres
engine = create_engine('postgresql://root:root@localhost:5432/option_data')
# engine = create_engine('postgresql://root:root@pgdatabase:5432/option_data')

In [4]:
# 1) Pull the 3 tables into dataframes
put_option_data = pd.read_sql_query("SELECT * FROM put_option_data", engine)
stock_dim_data = pd.read_sql_query("SELECT * FROM stock_dim_data", engine)
stock_hist_data = pd.read_sql_query("SELECT * FROM stock_hist_data", engine)

In [5]:
put_option_data.dtypes

strike                      float64
bid                         float64
ask                         float64
impliedVolatility           float64
exp_date                     object
as_of_date           datetime64[ns]
ticker                       object
dtype: object

In [6]:
# Ensure date columns are datetime
put_option_data['exp_date'] = pd.to_datetime(put_option_data['exp_date'])
stock_dim_data['latest_close_date'] = pd.to_datetime(stock_dim_data['latest_close_date'])
stock_hist_data['hist_date'] = pd.to_datetime(stock_hist_data['hist_date'])

In [7]:
# 2) Add calculated columns to put_option_data
today = datetime.today()

put_option_data['mid'] = (put_option_data['bid'] + put_option_data['ask']) / 2
put_option_data['upfront_premium'] = put_option_data['mid'] * 100
# put_option_data['days_til_strike'] = (put_option_data['exp_date'] - today).dt.days
put_option_data['days_til_strike'] = (put_option_data['exp_date'].dt.normalize() - put_option_data['as_of_date'].dt.normalize()).dt.days
put_option_data['money_aside'] = put_option_data['strike'] * 100
put_option_data['raw_return'] = put_option_data['upfront_premium'] / put_option_data['money_aside']
put_option_data['annualized_return'] = put_option_data['raw_return'] * 365 / put_option_data['days_til_strike']

In [8]:
# 3) Create put_candidates_df with unique tickers
put_candidates_df = pd.DataFrame({'ticker': put_option_data['ticker'].unique()})

# Join stock_dim_data
put_candidates_df = put_candidates_df.merge(stock_dim_data, on='ticker', how='left')

In [9]:
# Calculate lower_qrt_52wk_bound
put_candidates_df['lower_qrt_52wk_bound'] = (
    put_candidates_df['week_52_low'] + 
    (put_candidates_df['week_52_high'] - put_candidates_df['week_52_low']) * 0.25
)

# Calculate lower_qrt_ind
put_candidates_df['lower_qrt_ind'] = (
    put_candidates_df['current_price'] < put_candidates_df['lower_qrt_52wk_bound']
).astype(int)

In [10]:
# 4) Calculate up_vs_pri_day_vs_8day
def calculate_up_vs_pri_day_vs_8day(row):
    ticker = row['ticker']
    latest_date = row['latest_close_date']
    current_price = row['current_price']
    
    # Get ticker's historical data
    ticker_hist = stock_hist_data[stock_hist_data['ticker'] == ticker].sort_values('hist_date')
    
    if ticker_hist.empty:
        return 0
    
    # Prior day (most recent before latest_close_date)
    prior_day_data = ticker_hist[ticker_hist['hist_date'] < latest_date]
    if prior_day_data.empty:
        return 0
    prior_day_price = prior_day_data.iloc[-1]['close']
    prior_day_date = prior_day_data.iloc[-1]['hist_date']
    
    # Day before prior day
    day_before_data = ticker_hist[ticker_hist['hist_date'] < prior_day_date]
    if len(day_before_data) < 8:
        return 0
    
    # 8-day moving average ending on day before prior day
    day_before_8day_avg = day_before_data.iloc[-8:]['close'].mean()
    
    # Check conditions
    condition1 = current_price > prior_day_price
    condition2 = prior_day_price < day_before_8day_avg
    
    return 1 if (condition1 and condition2) else 0

In [11]:
put_candidates_df['up_vs_pri_day_vs_8day'] = put_candidates_df.apply(
    calculate_up_vs_pri_day_vs_8day, axis=1
)

In [13]:
put_candidates_df.head()

,ticker,current_price,week_52_high,week_52_low,latest_close_date,lower_qrt_52wk_bound,lower_qrt_ind,up_vs_pri_day_vs_8day
0,AMD,209.1900,267.08,76.48,2026-01-12 05:00:00,124.130,0,0
1,MSFT,478.3100,555.45,344.79,2026-01-12 05:00:00,397.455,0,0
2,TSLA,451.2166,498.83,214.25,2026-01-12 05:00:00,285.395,0,0
3,AMZN,248.0800,258.60,161.38,2026-01-12 05:00:00,185.685,0,0
4,INTC,44.6350,45.73,17.67,2026-01-12 05:00:00,24.685,0,0

In [19]:
# 5) Calculate up_vs_pri_wk_vs_8day
def calculate_up_vs_pri_wk_vs_8day(row):
    ticker = row['ticker']
    latest_date = row['latest_close_date']
    current_price = row['current_price']
    
    # Get ticker's historical data
    ticker_hist = stock_hist_data[stock_hist_data['ticker'] == ticker].sort_values('hist_date')
    
    if ticker_hist.empty:
        return 0
    
    # Find end of prior week (last Friday before latest_close_date)
    # Get the weekday of latest_date (0=Monday, 6=Sunday)
    latest_weekday = latest_date.weekday()
    
    # Calculate days back to last Friday
    if latest_weekday == 0:  # Monday
        days_back = 3
    elif latest_weekday == 4:  # Friday - need previous Friday (7 days ago)
        days_back = 7
    elif latest_weekday == 6:  # Sunday
        days_back = 2
    else:  # Tuesday-Thursday, Saturday
        days_back = latest_weekday - 4 if latest_weekday >= 5 else latest_weekday + 3
    
    end_prior_week_target = latest_date - timedelta(days=days_back)
    
    # Find the actual closing price for end of prior week
    prior_week_data = ticker_hist[ticker_hist['hist_date'] <= end_prior_week_target]
    if prior_week_data.empty:
        return 0
    end_prior_week_price = prior_week_data.iloc[-1]['close']
    end_prior_week_date = prior_week_data.iloc[-1]['hist_date']
    
    # Find end of week before that
    week_before_target = end_prior_week_date - timedelta(days=7)
    week_before_data = ticker_hist[ticker_hist['hist_date'] <= week_before_target]
    
    if len(week_before_data) < 8:
        return 0
    
    # 8-day moving average ending the week before
    week_before_8day_avg = week_before_data.iloc[-8:]['close'].mean()
    
    # Check conditions
    condition1 = current_price > end_prior_week_price
    condition2 = end_prior_week_price < week_before_8day_avg
    
    return 1 if (condition1 and condition2) else 0

In [20]:
put_candidates_df['up_vs_pri_wk_vs_8day'] = put_candidates_df.apply(
    calculate_up_vs_pri_wk_vs_8day, axis=1
)

In [23]:
put_candidates_df.head()

,ticker,current_price,week_52_high,week_52_low,latest_close_date,lower_qrt_52wk_bound,lower_qrt_ind,up_vs_pri_day_vs_8day,up_vs_pri_wk_vs_8day,put_candidate_ind
0,AMD,209.1900,267.08,76.48,2026-01-12 05:00:00,124.130,0,0,0,0
1,MSFT,478.3100,555.45,344.79,2026-01-12 05:00:00,397.455,0,0,0,0
2,TSLA,451.2166,498.83,214.25,2026-01-12 05:00:00,285.395,0,0,0,0
3,AMZN,248.0800,258.60,161.38,2026-01-12 05:00:00,185.685,0,0,0,0
4,INTC,44.6350,45.73,17.67,2026-01-12 05:00:00,24.685,0,0,0,0

In [22]:
# 6) Calculate put_candidate_ind
put_candidates_df['put_candidate_ind'] = (
    (put_candidates_df['lower_qrt_ind'] + 
     put_candidates_df['up_vs_pri_day_vs_8day'] + 
     put_candidates_df['up_vs_pri_wk_vs_8day']) > 0
).astype(int)

In [57]:
# 7) Create put_candidate_prices
# Set candidates to tickers with passing put_candidate_ind
# If none, then pass all tickers, to surface the highest annualized return
# Include put_candidate_ind in dataset
candidates = put_candidates_df[['ticker', 'put_candidate_ind']]
# candidates = put_candidates_df[put_candidates_df['put_candidate_ind'] == 1]['ticker']

In [58]:
# filter to candidates
# keeping options with < 15% return for now
filtered_puts = put_option_data[put_option_data['ticker'].isin(candidates['ticker'])]

# Filter put_option_data for these tickers and annualized_return >= 0.15
# filtered_puts = put_option_data[
#     (put_option_data['ticker'].isin(candidates['ticker'])) & 
#     (put_option_data['annualized_return'] >= 0.15)
# ]

In [59]:
# Get top 3 by annualized_return per ticker
put_candidate_prices = (
    put_option_data
    .sort_values('annualized_return', ascending=False)
    .groupby('ticker')
    .head(3)
    .reset_index(drop=True)
)

# put_candidate_prices = (
#     filtered_puts
#     .sort_values('annualized_return', ascending=False)
#     .groupby('ticker')
#     .head(3)
#     .reset_index(drop=True)
# )

In [60]:
put_candidate_prices = put_candidate_prices.merge(candidates, on='ticker')

In [61]:
put_candidate_prices.head(10)

,strike,bid,ask,impliedVolatility,exp_date,as_of_date,ticker,mid,upfront_premium,days_til_strike,money_aside,raw_return,annualized_return,put_candidate_ind
0,940.0,620.75,625.30,11.055911,2026-01-16,2026-01-12 18:11:55.504281,TSLA,623.025,62302.5,4,94000.0,0.662793,60.479820,0
1,930.0,609.75,613.25,10.929447,2026-01-16,2026-01-12 18:11:55.504281,TSLA,611.500,61150.0,4,93000.0,0.657527,59.999328,0
2,910.0,584.70,590.25,10.627689,2026-01-16,2026-01-12 18:11:55.504281,TSLA,587.475,58747.5,4,91000.0,0.645577,58.908894,0
3,530.0,314.65,316.20,0.000010,2026-01-16,2026-01-12 18:11:54.003883,AMD,315.425,31542.5,4,53000.0,0.595142,54.306663,0
4,520.0,304.70,306.35,0.000010,2026-01-16,2026-01-12 18:11:54.003883,AMD,305.525,30552.5,4,52000.0,0.587548,53.613762,0
5,480.0,264.70,266.35,0.000010,2026-01-16,2026-01-12 18:11:54.003883,AMD,265.525,26552.5,4,48000.0,0.553177,50.477409,0
6,75.0,28.20,30.70,2.652347,2026-01-16,2026-01-12 18:11:56.382600,INTC,29.450,2945.0,4,7500.0,0.392667,35.830833,0
7,65.0,23.65,26.80,5.012699,2026-01-16,2026-01-12 18:11:56.382600,INTC,25.225,2522.5,4,6500.0,0.388077,35.412019,0
8,70.0,23.20,25.70,2.382817,2026-01-16,2026-01-12 18:11:56.382600,INTC,24.450,2445.0,4,7000.0,0.349286,31.872321,0
9,370.0,128.10,130.35,3.093508,2026-01-16,2026-01-12 18:11:55.955964,AMZN,129.225,12922.5,4,37000.0,0.349257,31.869679,0

In [44]:
put_candidates_df.dtypes

ticker                           object
current_price                   float64
week_52_high                    float64
week_52_low                     float64
latest_close_date        datetime64[ns]
lower_qrt_52wk_bound            float64
lower_qrt_ind                     int64
up_vs_pri_day_vs_8day             int64
up_vs_pri_wk_vs_8day              int64
put_candidate_ind                 int64
dtype: object

In [19]:
put_candidate_schema_dc = {
    'ticker' : VARCHAR(20),
    'current_price' : Float(),
    'week_52_high' : Float(),
    'week_52_low' : Float(),
    'latest_close_date' : DateTime(),
    'lower_qrt_52wk_bound' : Float(),
    'lower_qrt_ind' : Integer(),
    'up_vs_pri_day_vs_8day' : Integer(),
    'up_vs_pri_wk_vs_8day' : Integer(),
    'put_candidate_ind' : Integer()
}

In [20]:
put_candidates_df.to_sql('put_candidate_tickers', con=engine, dtype=put_candidate_schema_dc, if_exists='replace', index=False)

5

In [62]:
put_candidate_prices.dtypes

strike                      float64
bid                         float64
ask                         float64
impliedVolatility           float64
exp_date             datetime64[ns]
as_of_date           datetime64[ns]
ticker                       object
mid                         float64
upfront_premium             float64
days_til_strike               int64
money_aside                 float64
raw_return                  float64
annualized_return           float64
put_candidate_ind             int64
dtype: object

In [64]:
put_candidate_prc_sc_dc = {
    'strike' : Float(),
    'bid' : Float(),
    'ask' : Float(),
    'impliedVolatility' : Float(),
    'exp_date' : DateTime(),
    'as_of_date' : DateTime(),
    'ticker' : VARCHAR(20),
    'mid' : Float(),
    'upfront_premium' : Float(),
    'days_til_strike' : Integer(),
    'money_aside' : Float(),
    'raw_return' : Float(),
    'annualized_return' : Float(),
    'put_candidate_ind': Integer()
}

In [65]:
put_candidate_prices.to_sql('put_candidate_options', con=engine, dtype=put_candidate_prc_sc_dc, if_exists='replace', index=False)

15

In [16]:
# Print results
print("\n" + "="*80)
print("RESULTS")
print("="*80)
print("\nput_candidates_df:")
print(put_candidates_df)
print(f"\nTotal candidates: {put_candidates_df['put_candidate_ind'].sum()} out of {len(put_candidates_df)} tickers")

print("\n" + "="*80)
print("\nput_candidate_prices:")
print(put_candidate_prices)
print(f"\nTotal put options selected: {len(put_candidate_prices)}")

================================================================================
RESULTS
================================================================================

put_candidates_df:
  ticker  current_price  week_52_high  week_52_low   latest_close_date  \
0    AMD       209.1900        267.08        76.48 2026-01-12 05:00:00
1   MSFT       478.3100        555.45       344.79 2026-01-12 05:00:00
2   TSLA       451.2166        498.83       214.25 2026-01-12 05:00:00
3   AMZN       248.0800        258.60       161.38 2026-01-12 05:00:00
4   INTC        44.6350         45.73        17.67 2026-01-12 05:00:00

   lower_qrt_52wk_bound  lower_qrt_ind  up_vs_pri_day_vs_8day  \
0               124.130              0                      0
1               397.455              0                      0
2               285.395              0                      0
3               185.685              0                      0
4                24.685              0                      0

   up_vs_pri_wk_vs_8day  put_candidate_ind
0                     0                  0
1                     0                  0
2                     0                  0
3                     0                  0
4                     0                  0

Total candidates: 0 out of 5 tickers

================================================================================

put_candidate_prices:
Empty DataFrame
Columns: [strike, bid, ask, impliedVolatility, exp_date, as_of_date, ticker, mid, upfront_premium, days_til_strike, money_aside, raw_return, annualized_return]
Index: []

Total put options selected: 0