In [1]:
import pandas as pd
import os
import yfinance as yf
from datetime import datetime
from time import time
# Use SQLAlchemy to create a connection to postgres
from sqlalchemy import create_engine
from sqlalchemy.types import Float
from sqlalchemy.types import Date
from sqlalchemy.types import DateTime
from sqlalchemy.types import VARCHAR

### General Logic
- Gather all tickers in stock dim table
- Loop through each ticker and append history to a dataset
- Columns:
  - ticker
  - Date
  - Open, High, Low, Close
  - As of date (today)

In [2]:
# Use postgres docker service name when running this in Kestra docker container
engine = create_engine('postgresql://root:root@localhost:5432/option_data')
# engine = create_engine('postgresql://root:root@pgdatabase:5432/option_data')

In [3]:
# Get list of tickers.  Pull everything from stock dim table
# This will contain all tickers of interest w/ valid yfinance data
stock_dim_sql = "select * from stock_dim_data"

stock_dim_df = pd.read_sql_query(stock_dim_sql, con=engine)

In [5]:
# Create empty list to hold ticker history
history_list = []

for ticker_symbol in stock_dim_df['ticker']:
    try:
        ticker = yf.Ticker(ticker_symbol)
        hist = ticker.history(period="5d")
        
        if not hist.empty:
            # Reset index to make 'Date' a column
            hist = hist.reset_index()
            
            # Add ticker column
            hist['ticker'] = ticker_symbol
            
            # Select only the columns we want
            hist = hist[['ticker', 'Date', 'Open', 'High', 'Low', 'Close']]
            
            # Rename columns to lowercase
            hist.columns = ['ticker', 'hist_date', 'open', 'high', 'low', 'close']
            
            history_list.append(hist)
    
    except Exception as e:
        print(f"Error fetching history for {ticker_symbol}: {e}")

In [6]:
stock_hist_df = pd.concat(history_list, ignore_index=True)

In [9]:
# Add today's date to label today's pull
stock_hist_df['as_of_date'] = datetime.now()

In [11]:
stock_hist_df.dtypes

ticker                                  object
hist_date     datetime64[ns, America/New_York]
open                                   float64
high                                   float64
low                                    float64
close                                  float64
as_of_date                      datetime64[us]
dtype: object

In [12]:
# Specify column types
column_typ_dict = {
    'ticker' : VARCHAR(20),
    'hist_date' : DateTime(),
    'open' : Float(),
    'high' : Float(),
    'low' : Float(),
    'close' : Float(),
    'as_of_date' : DateTime()
}

In [13]:
# Write to postgres table
stock_hist_df.to_sql('stock_hist_data', con=engine, dtype=column_typ_dict, if_exists='replace', index=False)

190

In [2]:
curr_ticker_str = 'AMD'
curr_ticker = yf.Ticker(curr_ticker_str)

In [3]:
hist = curr_ticker.history(period="5d")

In [4]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-12-26 00:00:00-05:00,215.429993,216.830002,213.029999,214.990005,15792600,0.0,0.0
2025-12-29 00:00:00-05:00,211.580002,216.050003,209.240005,215.610001,20326900,0.0,0.0
2025-12-30 00:00:00-05:00,215.869995,216.820007,214.330002,215.339996,16409600,0.0,0.0
2025-12-31 00:00:00-05:00,215.820007,217.639999,213.800003,214.160004,17591600,0.0,0.0
2026-01-02 00:00:00-05:00,218.899994,227.149994,218.899994,223.470001,36402400,0.0,0.0